.productDisplay {
	display: grid;
	grid-template-columns: repeat(auto-fill, 15vw);
	gap: 10px;
	justify-content: space-around;
	background-color: rgb(70, 70, 70);
    padding: 25px;
}

.shopTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	justify-csontent: center;
}

.shopContainer {
	min-height: min-content;
}
