/* .controlDiv {
    

} */
.itemLabel{
    text-align: center;
    font-size: larger;
    font-weight: bolder;

}

.itemCardContainer {
   max-width: 40vw;
    background-color: black;
    color: white;
    border-radius: 25px;
}


.itemCardContainer img{
    object-fit: cover;
    height: 60vh;
    border-radius: 25px;
    
}


.controlDiv {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-bottom: 20px
    
    ;}

.add, .minus{
    height: 100%;
    aspect-ratio: 1/1;
    width: auto
}

.itemCardContainer input{
    max-width: 20%;
}
