.itemLabel {
	text-align: center;
	font-weight: bolder;
	font-size: smaller;
}

.itemCardContainer {
	/* max-width: 40vw; */
	background-color: black;
	color: white;
	/* border-radius: 25px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.itemCardContainer img {
	object-fit: contain;
	height: 15vh;
	/* border-radius: 25px; */
	margin: 10px;
}

.controlDiv {
	display: flex;
	justify-content: center;
	height: fit-content;
}

.add,
.minus {
	height: 100%;
	aspect-ratio: 1/1;
	width: auto;
}

.itemCardContainer input {
	max-width: 60px;
}
