.navigationDiv {
    display: flex;
    gap: 100px;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

.link {
    color: black;
    text-decoration: none;
}

.pageDisplay {
    background-color: aqua;
}