.navigationDiv {
    display: flex;
    gap: 100px;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    
}

.link {
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    transition: color 0.4s ease;
}

.link:hover {
    color: rgb(63, 63, 63);

}

.pageContainer{
    height: 100%;
}